@tailwind base;
@tailwind components;
@tailwind utilities;

.thumbnail-post-large {
    background: #eff6ff;
    width: 100%;
    height: 380px;
    background-repeat: no-repeat;
}

.thumbnail-post-medium {
    background: #eff6ff;
    width: 100%;
    height: 220px;
    background-repeat: no-repeat;
}

.item-career [data-rmiz-btn-open] {
    cursor: pointer;
}

.item-career:hover .btn-apply-now {
    display: block !important;
    z-index: 1;
}